# Flutter/Dart
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/flutter_export_environment.sh
**/workspace.xml
**/modules.xml
**/misc.xml
**/

# Android related
**/android/app/google-services.json
**/android/key.properties

# iOS related
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/.symlinks/
**/ios/Pods/

# macOS related
**/macos/Pods/
**/macos/.symlinks/
**/macos/Flutter/ephemeral/
**/macos/Flutter/.last_build_id
**/macos/Flutter/GeneratedPluginRegistrant.*


# Linux related
**/linux/flutter/
**/linux/flutter/generated_plugin_registrant.h

# Others
*.iml
*.lock
*.log

# VS Code related
.vscode/
