# Dart/Flutter related
.dart_tool/
.flutter-plugins

# Intellij related
.idea/

# iOS related
ios/.DS_Store

# Don't commit lock files for pub
pubspec.lock

# Don't commit the following directories created by pub
# .pub/

# Don't commit the packages directory
.packages

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store/
.dart_tool/
junit.xml

# Don't commit user-specific settings
.idea/workspace.xml

